<%= form_for(@movie) do |f|%>
<div class="row">
  <div class="small-1 columns">
    <%= f.label :title, class: 'text-right middle' %>
  </div>
  <div class="small-11 columns">
    <%= f.text_field :title, autofocus: true, id: 'middle-label' %>
  </div>
</div>
<div class="row">
  <div class="small-1 columns">
    <%= f.label :description, class: 'text-right middle' %>
  </div>
  <div class="small-11 columns">
    <%= f.text_area :description, cols: 40, rows: 7, id: 'middle-label' %>
  </div>
</div>
<div class="row">
  <div class="small-1 columns">
    <%= f.label :director, class: 'text-right middle' %>
  </div>
  <div class="small-11 columns">
    <%= f.text_field :director, id: 'middle-label' %>
  </div>
</div>
<div class="row">
  <div class="small-1 columns">
    <%= f.label :cast, class: 'text-right middle' %>
  </div>
  <div class="small-11 columns">
    <%= f.text_field :cast, id: 'middle-label' %>
  </div>
</div>
<div class="row">
  <div class="small-1 columns">
    <%= f.label :duration, class: 'text-right middle' %>
  </div>
  <div class="small-11 columns">
    <%= f.text_field :duration, size: 10, id: 'middle-label' %>
  </div>
</div>
<div class="row">
  <div class="small-1 columns">
    <%= f.label :image_file_name, class: 'text-right middle' %>
  </div>
  <div class="small-11 columns">
    <%= f.text_field :image_file_name, id: 'middle-label' %>
  </div>
</div>
<div class="row">
  <div class="small-1 columns">
    <%= f.label :rating, class: 'text-right middle' %>
  </div>
  <div class="small-11 columns">
    <%= f.text_field :rating, size: 5, id: 'middle-label' %>
  </div>
</div>
<div class="row">
  <div class="small-1 columns">
    <%= f.label :released_on, class: 'text-right middle' %>
  </div>
  <div class="small-11 columns">
    <%= f.date_select :released_on, id: 'middle-label' %>
  </div>
</div>
<div class="row">
  <div class="small-1 columns">
    <%= f.label :total_gross, class: 'text-right middle' %>
  </div>
  <div class="small-11 columns">
    <%= f.number_field :total_gross, id: 'middle-label' %>
  </div>
</div>
<div class="row">
  <div class="small-3 small-centered columns">
  <%= f.submit class: 'button tiny radius' %>
  <%= link_to "Cancel", movies_path, class: 'button tiny radius' %>
  </div>
</div>
<% end %>
